@media screen and (max-width: 767px) {
    .project-card{
        list-style: none;
        width: 80%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 14px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        
    }

    .project-title-container{
        margin-bottom: 42px;
    }

    .project-title{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',Helvetica, Arial, sans-serif;
        font-size: 18px;
        margin: 0px;
    }

    .projects-button-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
    }

    .project-link{
        text-decoration: none;
    }

    .project-button{
        max-width: 112px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        flex-shrink: 1;
    }

    .project-button-tag{
        margin: 0px 2px 0px 0px;
        letter-spacing: 0px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 15px;
    }

    .project-icon{
        font-size: 15px;
    }
}