.home-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 90vh;
}

@media screen and (max-width: 767px) {
    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-height: 80vh;

    }
}

.home-wallpaper{
    width: 40%;
}

@media screen and (max-width: 767px) {
    .home-wallpaper{
        width: 90%;
        max-width: 550px;
    } 
    
}

.self-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.greeting-myself{
    font-family: Calibri;
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    text-align: center;    
    opacity: 0;
    transform: translateX(-50px);
    animation: slide-in 0.5s ease forwards; 
}

@keyframes slide-in {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

.content-myself{
    font-family: Calibri;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    max-width: 400px;
    text-align: center;
    opacity: 0; /* Hide the text initially */
    animation: type 5s steps(50000) forwards;
    white-space: wrap;
}

@keyframes type {
    from { width: 0; opacity: 0; }
    to { width: 100%; opacity: 1; }
  }

@media screen and (max-width: 767px) {
    .greeting-myself{
        font-family: Calibri;
        font-size: 24px;
        font-weight: 600;
        text-align: center;      
    }
    
    .content-myself{
        font-family: Calibri;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
        width: 100%;
        text-align: center;
    }
    
    
}