.contact-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 767px) {
    .contact-form-container {
      flex-direction: column;
      justify-content: start;
      width: 100%;
    }
  }
  
  .form-title {
    font-size: 36px;    
    color: #ffffff;
    font-weight: 500;
    font-family:Arial;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .form-title:hover{
    background-image: linear-gradient( 135deg, #FDD819 10%, #E80505 100%);
    padding: 12px;
    border-radius: 6px;
  }
  
  @media screen and (max-width: 767px) {
    .form-title {
      font-size: 24px;
    }
  }
  
  .view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 32px 16px 32px;
    border-radius: 16px;
    min-height: 310px;
  }
  
  @media screen and (min-width: 768px) {
    .view-container {
      max-width: 450px;
      flex-shrink: 0;
      box-shadow: 0px 4px 16px rgba(126, 133, 142, 0.16);
      padding: 24px 48px 24px 48px;
    }
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }
  
  .input-label {
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #475569;
  }
  
  .name-input-field {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    border: 1px solid #cbd2d9;
    color: #9aa5b1;
    border-radius: 4px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    outline: none;
    height: 42px;
  }

  
  .name-textarea-field{
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    border: 1px solid #cbd2d9;
    color: #9aa5b1;
    border-radius: 4px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    outline: none;
  }
  
  .success-image {
    width: 72px;
  }
  
  .submit-button {
    font-family: Arial;
    height: 42px;
    width: 80px;
    font-size: 16px;
    color: #ffffff;
    margin-top: 22px;
    margin-bottom: 10px;
    background-color: #ea580c;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  @media screen and (max-width: 768px) {
    .submit-button {
      width: 100%;
    }
  }
  
  .error-field {
    border: 1px solid #ff0b37;
    background-color: #fef2f4;
  }
  
  .error-message {
    align-self: start;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #ff0b37;
  }