.portfolio-website{
  margin: 0px;
  min-height: 100vh;
  background-size: cover;
  background-position:absolute;
}

.original{
  background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
}

.grey{
  background-image: linear-gradient( 110.1deg,  rgba(30,2,83,1) 44.2%, rgba(198,55,160,1) 138.2% );
}

.oceanview{
  background-image: radial-gradient( circle farthest-corner at 7.2% 13.6%,  rgba(37,249,245,1) 0%, rgba(8,70,218,1) 90% );

}

.fire{
  background-image: linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );
}

.content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px 32px 24px;
}